<ion-view title="Anemia" id="page12" enable-menu-with-back-views="true">
    <ion-content padding="true" class="has-header">
    	<form id="Diabetes-form5" class="list">
            <label class="item item-input" id="Diabetes-input3">
                <span class="input-label">Peso</span>
                <input type="text" placeholder="en Kilogramos">
            </label>
            <label class="item item-input" id="Diabetes-input4">
                <span class="input-label">Altura</span>
                <input type="text" placeholder="en metros">
            </label>
            <label class="item item-select" id="Diabetes-select1">
                <span class="input-label">Actividad Fisica</span>
                <select>
                    <option>Sedentaria</option>
                    <option>Ligera</option>
                    <option>Moderna</option>
                    <option>Intensa</option>
                </select>
            </label>
            <label class="item item-select" id="Diabetes-select2">
                <span class="input-label">Contextura</span>
                <select>
                    <option>Pequeño</option>
                    <option>Mediano</option>
                    <option>Grande</option>
                </select>
            </label>
            <button id="Diabetes-button9" class="button button-positive  button-block">Generar Recomendacion</button>
        </form>
    </ion-content>
</ion-view>