<ion-view title="Login" id="page9" hide-nav-bar="true" class ="fondo" no-drag-right >
    <ion-content padding="true" class="has-header login" >
        <form name="login1"  ng-submit="doLogin()">
        <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label"><strong style="color:white;" >Correo</strong></span>
                    <input type="text" name="correo" style="color:white;" ng-model="loginData.id_usuario"  placeholder="Correo">
                </label>
              </div>
                <label class="item item-input item-floating-label" ">
                    <span class="input-label"><strong style="color:white;" >Password</strong></span>
                    <input type="password" style="color:white;" ng-model="loginData.password" placeholder="Password" >
                </label>
        </div>
            <button id="login-button5" type="submit" class=" button button-block button-positive button-block">Ingresar</button>
        </form>
            <button id="login-button2" ng-click="Crear()" class="button button-calm  button-block">Crear Cuenta </button>
    </ion-content>
</ion-view>