<ion-view title="Perfil" id="page6">
    <ion-content padding="true" class="has-header">
    	<div class="foto">
    		<img class="circulo" src="img/user.jpg">
    	</div>
    	<div class="list card">				
			<a class="item centrar">
				<strong>Nombres: {{perfil.nombre}}</trong>
			</a>
			<a class="item centrar">
				<strong>Apellidos: {{perfil.apellido}}</strong>
			</a>
			<a class="item centrar">
				<strong>Direccion: {{perfil.direccion}}</strong>
			</a>
			<a class="item centrar">
				<strong>Sexo: {{perfil.sexo}}</strong>
			</a>
		</div>
	</ion-content>
</ion-view>