<ion-view title="" id="page7">
    <ion-content padding="true" class="has-header">
    	<div class="contenido">
		<br>
  		<p><strong>Indice de Masa Corporal:</strong> {{imc}} </p><br>
	    <p><strong>Segun este Imc, tienes: </strong>{{IMCdetallado}}</p><br>
		<p><strong>Minimo Recomendado: </strong>{{pesoMinimo}} Kg</p><br>
		<p><strong>Maximo Recomendado : </strong>{{pesoMaximo}} Kg</p><br>
		<p><strong>Tu Peso Ideal: </strong>{{pesoIdeal}} Kg</p>
		</div>
		<br>

		<div class="contenido">
		<br>
		<p>{{Contenido}}</p>
		<br>
		</div>
    </ion-content>
</ion-view>