<ion-view title="Seleccionar " id="page10" enable-menu-with-back-views="true" hide-nav-bar="true" no-drag-right>
    <ion-content padding="true" class="has-header">
        <button id="seleccionar-button5" class="button button-positive  button-block">Anemia</button>
        <a ui-sref="menu.Diabetes" id="seleccionar-button6" class="button button-positive  button-block">Diabetes</a>
        <a ui-sref="menu.Hipertension" id="seleccionar-button3" class="button button-positive  button-block">Hipertension</a>
        <a ui-sref="menu.Obesidad" id="seleccionar-button4" class="button button-positive  button-block">Obesidad</a>
        <a ui-sref="menu.vidaSana" id="seleccionar-button7" class="button button-positive  button-block">Vida Sana</a>
    </ion-content>
</ion-view>